.btn {
    background-color: #d4ff57;
    border: 1.5px solid #2c2c2c;
    color: #2c2c2c;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 1rem auto;
  }

.invert-btn {
background-color: #2c2c2c;
border: 2px solid #d4ff57;
color: #d4ff57;
text-decoration: none;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.3s ease;
display: inline-block;
margin: 1rem auto;
}