/* normalize.css — a modern reset */

/* 1. Use a better box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
  }
  
  /* 3. Remove list styles on ul, ol elements */
  ul[role='list'], ol[role='list'] {
    list-style: none;
  }
  
  /* 4. Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* 5. A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: inherit;
  }
  
  /* 6. Make images easier to work with */
  img, picture {
    max-width: 100%;
    display: block;
  }
  
  /* 7. Inherit fonts for inputs and buttons */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Remove animations and transitions for people who prefer reduced motion */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  